@using ProjectMVC5.Resources
<div class="panel-info hidden-xs">
    <ul class="list-group" id="Ads">
        <li><img src="~/Images/1.jpg" style="width:100%" /></li>
        <li><img src="~/Images/2.jpg" style="width:100%" /></li>
        <li><img src="~/Images/3.jpg" style="width:100%" /></li>
    </ul>
</div>

