<div class="panel panel-info ">
    <div class="panel-heading panel-title">
        <span class="glyphicon glyphicon-star-empty"></span>
        <strong>Visitor Count</strong>
    </div>
    <div class="list-group">
        <p class="list-group-item">Visited : @AppState["Visited"]</p>
        <p class="list-group-item">Visitors : @AppState["Visitors"]</p>
    </div>
</div>


