@model ProjectMVC5.Customer

@using (Html.BeginForm("Delete", "Customer", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(p => p.Id)
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLable">Delete Item</h4>
        </div>
        <div class="modal-body">
            Are you sure you want to delete Customer @Model.Id
        </div>
        <div class="modal-footer">
            <button type="submit" class="btn btn-primary">Delete</button>
            <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
        </div>
    </div>
}
